[Unit]
Description="Observium Run automated discovery of newly added devices every 5 minutes"
Documentation="https://docs.observium.org/install_debian/#perform-initial-discovery-and-poll"
#OnFailure=cron-failure@%i.service
Requires=mariadb.service rrdcached.service
RequiresMountsFor=/opt/observium

[Service]
SyslogIdentifier=​Observium-discovery-new
Type=oneshot
IgnoreSIGPIPE=false
#ExecStart=/usr/bin/php /opt/observium/discovery.php -h -q
ExecStart=/usr/bin/python3.6 /opt/observium/poller-wrapper.py discovery --host new
StandardOutput=null
User=observium
