[Unit]
Description=[Timer] "ObserviumRun multithreaded poller wrapper every 5 minute"
Documentation="https://docs.observium.org/install_debian/#perform-initial-discovery-and-poll"
PartOf=observium.target


[Timer]
Unit=observium-HDDtemp.service
OnCalendar=*:0/5

[Install]
WantedBy=observium.target
