[Unit]
Description="Observium Run multithreaded poller wrapper every 5 minute"
Documentation="https://docs.observium.org/install_debian/#perform-initial-discovery-and-poll"
#OnFailure=cron-failure@%i.service
Requires=mariadb.service rrdcached.service
RequiresMountsFor=/opt/observium

[Service]
SyslogIdentifier=​Observium-poller
Type=oneshot
IgnoreSIGPIPE=false
ExecStart=/usr/bin/python3.6 /opt/observium/poller-wrapper.py
User=observium
