[Unit]
Description="Observium Run automated discovery of newly added devices every 5 minutes"
Documentation="https://docs.observium.org/install_debian/#perform-initial-discovery-and-poll"
#OnFailure=cron-failure@%i.service
Requires=mariadb.service rrdcached.service
RequiresMountsFor=/opt/observium

[Service]
Type=oneshot
IgnoreSIGPIPE=false
ExecStart=/usr/bin/php /opt/observium/discovery.php -h new >> /dev/null
User=observium
