[Unit]
Description=[Timer] "Observium Run housekeeping script daily for syslog, eventlog and alert log, once a day"
Documentation="https://docs.observium.org/install_debian/#perform-initial-discovery-and-poll"
PartOf=observium.target


[Timer]
Unit=observium-housekeeping-lite.service
OnCalendar=5:13:00

[Install]
WantedBy=observium.target
